<div class="container">
  <h3 class="section-title">Варианты открывания межкомнатных дверей</h3>
	<img src="/catalog/view/theme/custom/image/systems/mejkomnat.jpg" class="img-responsive mejk-systems" alt="Системы межкомнатных дверей">
</div>