<div class="container dveri-grid-box">
	<div class="row">
		<div class="col-sm-12">
			<div class="dveri-grid">
				<div class="flex spb">
					<a href="catalog/view/theme/custom/image/grid_new/orig/1_orig.jpg" data-fancybox="gallery" data-caption="Наш шоурум, где Вы можете получить профессиональную консультацию" class="dveri-grid-item">
						<img src="catalog/view/theme/custom/image/grid_new/1-min.png" class="img-responsive" alt="Наш шоурум, где Вы можете получить профессиональную консультацию" loading="lazy">
					</a>
					<div class="dveri-grid-dl flex fdc spb column">
						<a href="catalog/view/theme/custom/image/grid_new/orig/main-otziv-original-min.jpg" data-fancybox="gallery" data-caption="Положительные отзывы наших довольных клиентов" class="dveri-grid-item">
							<img src="catalog/view/theme/custom/image/grid_new/main-otziv-min.jpg" class="img-responsive" alt="Положительные отзывы наших довольных клиентов" loading="lazy">
						</a>

						<a href="catalog/view/theme/custom/image/grid_new/orig/3_orig.jpg" data-fancybox="gallery"  data-caption="Огромный ассортимент любого типа и цвета двери" class="dveri-grid-item">
							<img src="catalog/view/theme/custom/image/grid_new/3-min.png" class="img-responsive" alt="Огромный ассортимент любого типа и цвета двери" loading="lazy">
						</a>
					</div>
				</div>

				<div class="flex spb">
					<a href="catalog/view/theme/custom/image/grid_new/orig/4_orig.png" data-fancybox="gallery" data-caption="Дверная фурнитура всегда в наличии" class="dveri-grid-item">
						<img src="catalog/view/theme/custom/image/grid_new/4-min.png" class="img-responsive" alt="Дверная фурнитура всегда в наличии" loading="lazy">
					</a>

					<a href="catalog/view/theme/custom/image/grid_new/orig/5_orig.jpg" data-fancybox="gallery" data-caption="Наши менеджеры, всегда готовы помочь Вам и ответить на любой вопрос" class="dveri-grid-item">
						<img src="catalog/view/theme/custom/image/grid_new/5-min.png" class="img-responsive" alt="Наши менеджеры, всегда готовы помочь Вам и ответить на любой вопрос" loading="lazy">
					</a>

					<a href="catalog/view/theme/custom/image/grid_new/orig/6_orig.jpg" data-fancybox="gallery" data-caption="Широкий ассортимент входных и межкомнатных дверей" class="dveri-grid-item">
						<img src="catalog/view/theme/custom/image/grid_new/6-min.png" class="img-responsive" alt="Широкий ассортимент входных и межкомнатных дверей" loading="lazy">
					</a>
				</div>       
				
			</div>
		</div>    
	</div>
</div>