<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="slider-inside">

        <img src="/catalog/view/theme/custom/image/mezhkomnatnye_ustanovka.jpg" class="img-responsive" alt="Межкомнатные двери недорого с установкой под ключ">

      </div>
    </div>
  </div>
</div>
