<div class="container">
  <h3 class="section-title">Системы открывания входных дверей</h3>
<img
    src="/catalog/view/theme/custom/image/systems/narujy.jpg"
    class="img-responsive"
    alt="Системы открывания входных дверей наружу"
  />
  <img
    src="/catalog/view/theme/custom/image/systems/vnitry.jpg"
    class="img-responsive"
    alt="Системы открывания входных дверей внутрь"
  />
  
</div>
