<div class="slider-inside slider-inside_custom">

	
		<a href="dvernoj-dom_brend">

			<div class="slider-inside__inner">
				<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0)">
						<path d="M38.1003 20.7311C37.9394 20.4018 37.9394 20.0242 38.1003 19.695L39.5922 16.643C40.4228 14.9437 39.7647 12.9184 38.0939 12.0319L35.0931 10.4397C34.7694 10.268 34.5474 9.96235 34.4841 9.6015L33.8972 6.2555C33.5704 4.39254 31.8471 3.14068 29.9747 3.4056L26.6112 3.88138C26.2482 3.93262 25.8892 3.81591 25.6258 3.56114L23.1844 1.19928C21.8249 -0.115867 19.6952 -0.115945 18.3359 1.19928L15.8943 3.56138C15.6309 3.81622 15.2719 3.9327 14.9089 3.88161L11.5455 3.40583C9.67241 3.14075 7.94977 4.39278 7.62297 6.25574L7.0361 9.60158C6.97274 9.96251 6.75079 10.2681 6.42712 10.4399L3.42636 12.032C1.75559 12.9184 1.09746 14.944 1.92808 16.6433L3.41987 19.6951C3.58081 20.0244 3.58081 20.4021 3.41987 20.7313L1.92801 23.7831C1.09739 25.4824 1.75551 27.5078 3.42628 28.3943L6.42704 29.9865C6.75079 30.1582 6.97274 30.4638 7.0361 30.8247L7.62297 34.1706C7.92047 35.8666 9.37468 37.0559 11.046 37.0558C11.2106 37.0558 11.3776 37.0442 11.5455 37.0205L14.909 36.5447C15.2718 36.4932 15.631 36.6102 15.8944 36.8649L18.3359 39.2268C19.0157 39.8844 19.8877 40.2132 20.7601 40.2131C21.6322 40.213 22.5048 39.8843 23.1843 39.2268L25.6258 36.8649C25.8893 36.6102 26.2483 36.4938 26.6112 36.5447L29.9747 37.0205C31.848 37.2855 33.5704 36.0335 33.8972 34.1706L34.4841 30.8247C34.5475 30.4638 34.7695 30.1582 35.0931 29.9865L38.0939 28.3943C39.7647 27.5079 40.4228 25.4823 39.5922 23.7831L38.1003 20.7311ZM37.0126 26.3562L34.0118 27.9484C33.0551 28.4562 32.3989 29.3591 32.2118 30.426L31.6249 33.7719C31.5144 34.4022 30.9317 34.8256 30.2978 34.7361L26.9343 34.2603C25.8617 34.1084 24.8003 34.4536 24.0218 35.2067L21.5802 37.5684C21.1204 38.0133 20.3999 38.0133 19.9399 37.5684L17.4984 35.2066C16.8404 34.5701 15.9803 34.2252 15.0823 34.2252C14.9178 34.2252 14.7519 34.2367 14.5858 34.2603L11.2223 34.736C10.589 34.8256 10.0058 34.4021 9.89523 33.7718L9.30828 30.4258C9.12109 29.359 8.465 28.4559 7.50821 27.9483L4.50744 26.3562C3.94214 26.0562 3.71948 25.371 4.00049 24.7961L5.49236 21.7442C5.96798 20.771 5.96798 19.655 5.49236 18.6818L4.00049 15.6299C3.71948 15.055 3.94214 14.3698 4.50744 14.0698L7.50821 12.4777C8.46492 11.9699 9.12109 11.067 9.3082 10.0001L9.89507 6.65417C10.0057 6.02386 10.5883 5.60043 11.2222 5.68996L14.5857 6.16574C15.6579 6.31753 16.7197 5.97246 17.4982 5.21941L19.9398 2.85755C20.3996 2.41271 21.1202 2.41271 21.5802 2.85755L24.0216 5.21941C24.8001 5.97253 25.8618 6.31753 26.9342 6.16574L30.2977 5.68996C30.931 5.60035 31.5142 6.02386 31.6248 6.65417L32.2117 10.0002C32.3988 11.067 33.0549 11.9701 34.0117 12.4777L37.0125 14.0698C37.5778 14.3698 37.8005 15.055 37.5194 15.6299L36.0276 18.6818C35.5519 19.6548 35.5519 20.771 36.0276 21.7441L37.5194 24.7959C37.8005 25.371 37.5779 26.0563 37.0126 26.3562Z" fill="#FBD239"/>
						<path d="M37.0126 26.3562L34.0118 27.9484C33.0551 28.4562 32.3989 29.3591 32.2118 30.426L31.6249 33.7719C31.5144 34.4022 30.9317 34.8256 30.2978 34.7361L26.9343 34.2603C25.8617 34.1084 24.8003 34.4536 24.0218 35.2067L21.5802 37.5684C21.1204 38.0133 20.3999 38.0133 19.9399 37.5684L17.4984 35.2066C16.8404 34.5701 15.9803 34.2252 15.0823 34.2252C14.9178 34.2252 14.7519 34.2367 14.5858 34.2603L11.2223 34.736C10.589 34.8256 10.0058 34.4021 9.89523 33.7718L9.30828 30.4258C9.12109 29.359 8.465 28.4559 7.50821 27.9483L4.50744 26.3562C3.94214 26.0562 3.71948 25.371 4.00049 24.7961L5.49236 21.7442C5.96798 20.771 5.96798 19.655 5.49236 18.6818L4.00049 15.6299C3.71948 15.055 3.94214 14.3698 4.50744 14.0698L7.50821 12.4777C8.46492 11.9699 9.12109 11.067 9.3082 10.0001L9.89507 6.65417C10.0057 6.02386 10.5883 5.60043 11.2222 5.68996L14.5857 6.16574C15.6579 6.31753 16.7197 5.97246 17.4982 5.21941L19.9398 2.85755C20.3996 2.41271 21.1202 2.41271 21.5802 2.85755L24.0216 5.21941C24.8001 5.97253 25.8618 6.31753 26.9342 6.16574L30.2977 5.68996C30.931 5.60035 31.5142 6.02386 31.6248 6.65417L32.2117 10.0002C32.3988 11.067 33.0549 11.9701 34.0117 12.4777L37.0125 14.0698C37.5778 14.3698 37.8005 15.055 37.5194 15.6299L36.0276 18.6818C35.5519 19.6548 35.5519 20.771 36.0276 21.7441L37.5194 24.7959C37.8005 25.371 37.5779 26.0563 37.0126 26.3562Z" fill="#FBD239"/>
						<path d="M29.1899 11.7846C28.7395 11.3342 28.0091 11.3342 27.5586 11.7846L12.333 27.0103C11.8825 27.4608 11.8825 28.1912 12.333 28.6416C12.5582 28.8669 12.8534 28.9795 13.1486 28.9795C13.4437 28.9795 13.7391 28.8669 13.9642 28.6416L29.1898 13.416C29.6405 12.9655 29.6405 12.2352 29.1899 11.7846Z" fill="#2C2B3F"/>
						<path d="M16.1456 9.83154C13.8134 9.83154 11.916 11.729 11.916 14.0611C11.916 16.3933 13.8134 18.2907 16.1456 18.2907C18.4778 18.2907 20.3752 16.3933 20.3752 14.0611C20.3752 11.729 18.4778 9.83154 16.1456 9.83154ZM16.1456 15.9836C15.0855 15.9836 14.2231 15.1212 14.2231 14.061C14.2231 13.001 15.0855 12.1386 16.1456 12.1386C17.2057 12.1386 18.0682 13.001 18.0682 14.061C18.0681 15.1212 17.2057 15.9836 16.1456 15.9836Z" fill="#2C2B3F"/>
						<path d="M25.3751 22.1357C23.0429 22.1357 21.1455 24.0332 21.1455 26.3653C21.1455 28.6975 23.0429 30.5949 25.3751 30.5949C27.7073 30.5949 29.6047 28.6975 29.6047 26.3653C29.6047 24.0332 27.7073 22.1357 25.3751 22.1357ZM25.3751 28.2878C24.315 28.2878 23.4525 27.4254 23.4525 26.3653C23.4525 25.3053 24.3149 24.4428 25.3751 24.4428C26.4352 24.4428 27.2976 25.3053 27.2976 26.3653C27.2976 27.4254 26.4352 28.2878 25.3751 28.2878Z" fill="#2C2B3F"/>
					</g>
					<defs>
						<clipPath id="clip0">
							<rect width="40" height="40" fill="white" transform="translate(0.760742 0.213135)"/>
						</clipPath>
					</defs>
				</svg>
					<div class="slider-inside__text-container">
						<div class="slider-inside__headline">- 15% НА ВСЕ МОДЕЛИ</div>
						<p class="slider-inside__sub-text">Не упустите шанс купить входные двери<br>
							от компании <b>ДВЕРНОЙ ДОМ</b> со скидкой 15%</p>
						<button class="slider-inside__btn">Смотреть двери</button>
					</div>
			
				</div>
			
						<img src="/catalog/view/theme/custom/image/slider-vhodnie/dvernoi-dom.webp" class="img-responsive slider__custom_image" alt="скидка на межкомнатные двери">
			
			
			
				<div class="btn btn-custom btn-custom-header slider-inside-btn" data-fancybox data-src="#modal">Вызвать замерщика</div>

			{# <img src="image/catalog/salepicture/salevhodnye-min.png" class="img-responsive" alt="скидка на входные двери"> #}
		</a>
	

	<div class="btn btn-custom btn-custom-header slider-inside-btn slider-inside-btn-vhod" data-fancybox
		data-src="#modal">Вызвать замерщика</div>
</div>