<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="slider-inside">

        <img src="/catalog/view/theme/custom/image/vhodnie_ustanovka.jpg" class="img-responsive" alt="Входные двери с установкой под ключ">

      </div>
    </div>  
  </div>
</div>
