<!-- <div class="emenu">
  <div class="emenu-box" class="md-box">
    <a href="/mezhkomnatnye-dveri/" class="md">Межкомнатные двери</a>
    <div class="emenu-list-box">
      <p class="toggle-sub">По материалу</p>
      <ul class="emenu-list js-toggle-sub js-toggle-sub--active">
        <li><a href="/mezhkomnatnye-dveri/ekoshpon/" class="md">Экошпон</a></li>
        <li><a href="/mezhkomnatnye-dveri/ekoshpon-3d/" class="md">Экошпон 3Д</a></li>
        <li><a href="/mezhkomnatnye-dveri/shponirovannye/" class="md">Шпонированные</a></li>
        <li><a href="/mezhkomnatnye-dveri/shpon-ekonom/" class="md">Шпон Эконом</a></li>
        <li><a href="/mezhkomnatnye-dveri/shpon-duba-belorusskie/" class="md">Шпон дуба (Белорусские)</a></li>
        <li><a href="/mezhkomnatnye-dveri/krashenye-emal/" class="md">Крашеные (Эмаль)</a></li>
				<li><a href="/mezhkomnatnye-dveri/matovye-unilak/" class="md">Матовые (унилак)</a></li>
        <li><a href="/mezhkomnatnye-dveri/glyancevye/" class="md">Глянцевые</a></li>
        <li><a href="/mezhkomnatnye-dveri/evroshpon/" class="md">Евро Шпон</a></li>
        <li><a href="/mezhkomnatnye-dveri/laminirovannye/" class="md">Ламинированные и ПВХ</a></li>
        <li><a href="/mezhkomnatnye-dveri/steklyannye/" class="md">Стеклянные</a></li>
        <li><a href="/mezhkomnatnye-dveri/massiv-100/" class="md">Массив 100%</a></li>
      </ul>
    </div>
    <div class="emenu-list-box">
      <p class="toggle-sub">По стилю</p>
      <ul class="emenu-list js-toggle-sub js-toggle-sub--active">
        <li><a href="/mezhkomnatnye-dveri/klassika/" class="md">Классика</a></li>
        <li><a href="/mezhkomnatnye-dveri/modern/" class="md">Модерн</a></li>
        <li><a href="/mezhkomnatnye-dveri/provans/" class="md">Прованс</a></li>
        <li><a href="/mezhkomnatnye-dveri/khai-tek/" class="md">Хай - Тек</a></li>
      </ul>
    </div>
		<div class="emenu-list-box">
      <p class="toggle-sub">По производителю</p>
      <ul class="emenu-list js-toggle-sub">
				<li><a href="/mezhkomnatnye-dveri/profil-doors/" class="md">Profil Doors</a></li>
        <li><a href="/mezhkomnatnye-dveri/el-porta/" class="md">EL-Porta</a></li>
				<li><a href="/mezhkomnatnye-dveri/liga/" class="md">Liga</a></li>
				<li><a href="/mezhkomnatnye-dveri/line-doors/" class="md">Line Doors</a></li>
				<li><a href="/mezhkomnatnye-dveri/luxor/" class="md">Luxor</a></li>
				<li><a href="/mezhkomnatnye-dveri/regidoors/" class="md">RegiDoors</a></li>
				<li><a href="/mezhkomnatnye-dveri/uberture/" class="md">Uberture</a></li>
				<li><a href="/mezhkomnatnye-dveri/vfd/" class="md">VFD</a></li>
				<li><a href="/mezhkomnatnye-dveri/vist/" class="md">Vist</a></li>
				<li><a href="/mezhkomnatnye-dveri/zadoor/" class="md">ZaDoor</a></li>
				<li><a href="/mezhkomnatnye-dveri/bravo/" class="md">Браво</a></li>
				<li><a href="/mezhkomnatnye-dveri/verda/" class="md">Верда</a></li>
				<li><a href="/mezhkomnatnye-dveri/milyana/" class="md">Мильяна</a></li>
				<li><a href="/mezhkomnatnye-dveri/rosdver/" class="md">Росдверь</a></li>
      </ul>
    </div>
    <div class="emenu-list-box">
      <p class="toggle-sub">По цвету</p>
      <ul class="emenu-list js-toggle-sub">
        <li><a href="/mezhkomnatnye-dveri/belye/" class="md">Белые</a></li>
        <li><a href="/mezhkomnatnye-dveri/serye/" class="md">Серые</a></li>
        <li><a href="/mezhkomnatnye-dveri/temnye/" class="md">Темные</a></li>
        <li><a href="/mezhkomnatnye-dveri/svetlye/" class="md">Светлые</a></li>
        <li><a href="/mezhkomnatnye-dveri/venge/" class="md">Венге</a></li>
      </ul>
    </div>
    <div class="emenu-list-box">
      <p class="toggle-sub">По региону</p>
      <ul class="emenu-list js-toggle-sub">
        <li><a href="/mezhkomnatnye-dveri/ulyanovskie-dveri/" class="md">Ульяновские</a></li>
        <li><a href="/mezhkomnatnye-dveri/ryazanskie-dveri/" class="md">Рязанские</a></li>
        <li><a href="/mezhkomnatnye-dveri/shpon-duba-belorusskie/" class="md">Белорусские</a></li>
				<li><a href="/mezhkomnatnye-dveri/vladimirskie-dveri/" class="md">Владимирские</a></li>
      </ul>
    </div>
    <div class="emenu-list-box">
      <p class="toggle-sub">По помещению</p>
      <ul class="emenu-list js-toggle-sub">
        <li>
          <a href="/mezhkomnatnye-dveri/v-vannuyu-i-tualet/" class="md"
            >В ванную и туалет</a
          >
        </li>
        <li>
          <a href="/mezhkomnatnye-dveri/v-kukhnyu/" class="md">В кухню</a>
        </li>
        <li>
          <a href="/mezhkomnatnye-dveri/v-gostinuyu/" class="md">В гостиную</a>
        </li>
        <li>
          <a href="/mezhkomnatnye-dveri/v-spalnyu/" class="md">В спальню</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="emenu-box" class="vd-box">
    <a href="/dveri-vhodnye/" class="vd">Входные двери</a>
    <div class="emenu-list-box">
			<p class="toggle-sub">По помещению</p>
      <ul class="emenu-list js-toggle-sub js-toggle-sub--active">
				<li><a href="/dveri-vhodnye/dlya-doma/" class="vd">Для дома</a></li>
				<li><a href="/dveri-vhodnye/dlya-kvartiry/" class="vd">Для квартиры</a></li>
      </ul>
		</div>
		<div class="emenu-list-box">
			<p class="toggle-sub">По типу</p>
      <ul class="emenu-list js-toggle-sub js-toggle-sub--active">
				<li><a href="/dveri-vhodnye/s-zerkalom/" class="vd">С зеркалом</a></li>
				<li><a href="/dveri-vhodnye/s-termorazryvom/" class="vd">С терморазрывом</a></li>
      </ul>
		</div>
		<div class="emenu-list-box">
      <p class="toggle-sub">По производителю</p>
      <ul class="emenu-list js-toggle-sub">
				<li><a href="/dveri-vhodnye/luxor-vhodnie" class="md">Luxor</a></li>
				<li><a href="/dveri-vhodnye/regidoors-vhodnie" class="md">RegiDoors</a></li>
				<li><a href="/dveri-vhodnye/staller" class="md">Staller</a></li>
				<li><a href="/dveri-vhodnye/argus" class="md">Аргус</a></li>
				<li><a href="/dveri-vhodnye/asd" class="md">АСД</a></li>
				<li><a href="/dveri-vhodnye/intekron" class="md">Интекрон</a></li>
				<li><a href="/dveri-vhodnye/optim" class="md">Оптим</a></li>
				<li><a href="/dveri-vhodnye/ratibor" class="md">Ратибор</a></li>
				<li><a href="/dveri-vhodnye/sudar" class="md">Сударь</a></li>
				<li><a href="/dveri-vhodnye/termodor" class="md">ТермоДор</a></li>
				<li><a href="/dveri-vhodnye/citadel" class="md">Цитадель</a></li>
      </ul>
    </div> 
  </div>
  <div class="emenu-box" class="fd-box">
    <a href="/furnitura/" class="fd">Фурнитура</a>
  </div>
</div> -->
