<div itemscope="" itemtype="http://schema.org/WebSite">
	<meta itemprop="url" content="https://100-dverei.ru"/>
	<form action="/search/" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" class="search">
		<meta itemprop="target" content="/search/?description=true&search={search}">
		<input itemprop="query-input" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" autocomplete="off" required/>
		<button type="button" class="search_button btn-text">
			<img src="/catalog/view/theme/custom/image/search.svg" alt="Поиск дверей и комплектующих">
		</button>
	</form>
</div>